# Virtual Environment
venv/
ENV/
env/

# Environment Variables & Secrets
.env
token.json
credentials.json

# Python cache
__pycache__/
*.pyc

# Binaries & executables
*.exe
ngrok.exe

# SQLite Databases
*.db
*.sqlite
*.sqlite3