fastapi
uvicorn
python-telegram-bot
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pydantic
python-dotenv
langchain
langchain-core
langchain-community
langchain-google-genai
apscheduler